{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <table>
                    <thead>
                        <tr>
                            <th>Company Name</th>
                            <th>Shares Owned</th>
                            <th>Price</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for stock in stocks %}
                            <tr>
                                <td style="width: 150px"> {{ stock.stockname}} </td>
                                <td style="width: 150px"> {{ stock.shares }} </td>
                                <td style="width: 150px">${{ "%.2f"|format(stockvalues[loop.index0]) }} </td>
                                <td style="width: 150px" name="sharetotal"> ${{ "%.2f"|format(stock.shares * stockvalues[loop.index0]) }} </td>
                            </tr>
                        {% endfor %}
                            <tr>
                                <td style="width: 150px"> Cash </td>
                                <td style="width: 150px"> N/A </td>
                                <td style="width: 150px"> N/A </td>
                                <td style="width: 150px"> ${{ "%.2f"|format(cash) }} </td>
                            </tr>
                            <tr>
                                <td style="width: 150px"> Total Value </td>
                                <td style="width: 150px"> N/A </td>
                                <td style="width: 150px"> N/A </td>
                                <td style="width: 150px"> $ {{ "%.2f"|format(totalvalue + cash) }} </td>
                            </tr>

                    </tbody>

                </table>
{% endblock %}
